.AboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    max-width: 900px;
    margin: 0 auto;
    padding: 140px 20px;
}

.ImageContainer {
    flex-shrink: 0;
}

.DesktopGifContainer {
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
}

.DesktopGif {
    width: 100%;
    display: block;
}

.TextContainer {
    flex: 1;
}

.TextContainer h3 {
    padding: 0;
    margin-top: 0;
}

.TextContainer p {
    line-height: 1.5;
    text-align: justify;

}


@media (min-width: 768px) {

    .AboutMeContainer {
        flex-direction: row;
        align-items: flex-start;
    }

}