.MainContactContainer{
    padding: 0 15px 0 5px;
}

.ContactContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
}

.ContactIcon{
    width: 40px;
    height: 40px;

    color: var(--Red);

    padding: 5px 10px 5px 0;
}

a:link {
    color: var(--White);
  }

  a:visited {
    color: var(--Purple);
  }

  a:hover {
    color: var(--Red);
  }

  @media  (min-width:768px) {
    .MainContactContainer{
        padding: 0 0 0 40px;
    }

}