.HomeContainer {
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: center;
}

.HomeContainer h1 {
    font-size: clamp(32px, 6vw, 64px);
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.HomeContainer p {
    max-width: 760px;

    text-align: center;
    margin: 0 auto;

    line-height: 1.5;
    margin-bottom: 20px;
}

.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    max-width: 400px;
    margin: 30px auto;
}
  

.ProjectButton {
    width: 80px;
    height: 80px;

    padding: 0;

    background: none;
    border: none;
}

.ProjectButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .3s;
    border-radius:8px;

}

.ProjectButton:hover img {
    transform: scale(1.15);
}

@media (min-width: 910px) {
  .ProjectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    max-width: none;
  }

  .ProjectButton:nth-child(odd) {
    transform: translateY(-15px);
  }

  .ProjectButton:nth-child(even) {
    transform: translateY(15px);
  }

  .ProjectButton {
    width: 150px;
    height: 150px;
}

}
