.FooterContainer{

    display: flex;
    flex-direction: column;

    justify-content: flex-end; 
    align-items: center;

    color: var(--White);
background-color: var(--Black);

    font-weight: lighter;
}

 .Social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;

    width: 100%;

    padding: 15px 0;
  }

button {
    width: 40px;
    height: 40px;

    color: var(--White);
    
    background: none;
    border: none;
 }

.SocialIcon:hover {
    color: var(--Red);
    transform: scale(1.5);
    transition: .3s;
}

 .SocialIcon{
    height: 30px;
    width: 30px;

    transition: .3s;
 }