.TwitchCard{
  padding: 20px 0 0 0 ;
  @media  (min-width:768px) {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  
  .TwitchCard_ImageContent{
    width: 100%;
    height: 125px;
  
  
    background-color: var(--Purple);
    border-radius: 8px;
  
      display: flex;
      justify-content: center; 
      align-items: center;

      overflow: hidden;

      @media  (min-width:768px) {
        width: 250px;
        height: auto;
        margin: 0 15px  0 0;
        }
  }
  
  .TwitchCard_Image{
    width: 100%;
    height: 100%;

    object-fit: cover;

      }
  
  .TwitchCard_Email{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .TwitchButton{
    width: 100%;
    height: 25px;
    
    font-size: 16px;
    font-weight: normal;

    background-color: var(--Purple);
    color: var(--White);
  
    border: none;
    border-radius: 4px;
}
  
  .TwitchButton:focus{
    outline: 2px solid var(--Purple);
  
  }