.SlideMainContainer {
  position: relative;
  width: 100%;
  padding-top: 35%; /* 16:9 ratio = 9 / 16 = 0.5625 */
  overflow: hidden;

  @media  (min-width:1024px) {
    padding-top: 25%;
    }
}

.SwiperAjust {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slide-link, .slide-container {
  height: 100%;
  width: 100%;
}

.slide-image {
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media  (min-width:1024px) {
 
    position: relative;
    top: -15px;
    }
}

.slide-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--White);
  padding: 8px 12px;
  font-size: clamp(12px, 2vw, 16px);
  box-sizing: border-box;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--White);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}